@import "../../style/constant";

.login_container {
  @include flex(row, flex-start, center);
  gap: 250px;

  background-color: $primary;
  padding: 100px 120px;

  @media screen and (max-width:475px) {
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 20px 25px;
    gap: 25px;
  }

  .login_input_form {
    padding: 32px;
    min-width: 450px;

    @media screen and (max-width:475px) {
      min-width: unset;
      padding: unset;
      width: 100%;
    }

    .head_details {
      margin-bottom: 25px;

      h1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 12px;
        color: $white;

        @media screen and (max-width:475px) {
          margin: 0;
        }
      }

      p {
        font-family: "Edu SA Beginner";
        font-size: 18px;
        line-height: 26px;
        color: $grey2;
      }
    }

    .form_container {
      margin-bottom: 36px;
      position: relative;

      .input_fields {
        @include flex(column, flex-start, flex-start);
        width: 100%;

        @media screen and (max-width:475px) {
          margin-bottom: 10px;
          flex-direction: column;
          gap: 0;
        }

        .fields {
          width: 100%;

          @media screen and (max-width:475px) {
            margin-bottom: 10px;
          }

          label {
            color: $grey2;
            font-size: 14px;
            font-weight: 300;
            padding-bottom: 6px;
            line-height: 22px;

            @media screen and (max-width:475px) {
              padding-bottom: unset;
            }
          }

          input {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            font-weight: 500;
            border: 0;
            outline: 0;
            background: $secondary;
            border-radius: 8px;
            box-shadow: 0px 1px 0px $grey2;
            margin-bottom: 6px;
            color: $grey2;
          }

          span {
            position: absolute;
            right: 12px;
            transform: translateY(58%);
            cursor: pointer;
          }


          .input_fields_input {
            width: 100%;
          }
        }
      }

      .forgot_password {
        width: 100%;
        color: $blue;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
      }

      .formik_error {
        display: flex;
        gap: 5px;
        min-height: 20px;
        min-width: 100%;
        color: $error;
        font-size: 14px;

        span {
          @include flex(row, center, center)
        }

        @media screen and (max-width:475px) {
          font-size: 12px;
        }
      }
    }

    .button_login {

      button {
        @include flex(row, center, center);
        gap: 10px;
        width: 100%;
        padding: 12px;
        // margin-bottom: 36px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        border: 0;
        outline: 0;
        background: $active;
        border-radius: 8px;
        cursor: pointer;

        img {
          width: 18px;
        }
      }

      .google_login_btn {
        .google_img {
          @include flex(row, center, center);
          border-radius: 500px;
          width: 28px;
          height: 28px;
          background: $white;
        }
      }
    }
  }

  .login_image {
    // margin-left: 120px;
    // border: 1px solid black;
    width: 600px;
    position: relative;
    box-sizing: border-box;

    @media screen and (max-width:475px) {
      @include flex(row, center, center);
      width: 350px;
    }


    .before_image,
    .after_image {
      margin: 27px;
      width: 500px;
      height: 500px;
      border-radius: 5px;

      @media screen and (max-width:475px) {
        margin: 25px 50px;
        width: 300px;
        height: 300px;
      }
    }

    .before_image {
      position: absolute;
      top: -25px;
      left: -25px;

      @media screen and (max-width:475px) {
        top: -10px;
        left: -10px;
      }
    }
  }
}