@import "../../style/_constant.scss";

.indivisual_properties_container {
    @include occupyFullSpace();
    @include flex(row, flex-start, flex-start);
    min-height: calc(100vh - 78px);
    max-height: calc(100vh - 78px);

    background-color: $primary;
    color: $white;

    // font-size: 48px;
    // font-weight: 700;

    .sidebar_content {
        min-height: calc(100vh - 78px);
        background: $secondary;
    }

    .propertices_content {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        height: 100%;
        padding: 50px;
        max-height: calc(100vh - 78px);
        overflow: auto;
        gap: 60px;

        &::-webkit-scrollbar {
            width: 10px;
            padding: 2px;
        }

        &::-webkit-scrollbar-track {
            background: $secondary;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $active;
            border-radius: 10px;
            border: 3px solid $secondary;
        }

        .first_part {
            @include flex(row, flex-start, flex-start);
            gap: 58px;
            .propertices_image {
                img {
                    border-radius: 15px;
                    min-width: 900px;
                    max-height: 600px;
                    box-shadow: 1px 1px 4px 0px $active;
                }
            }
            .propertices_details {
                background-color: $secondary;
                border-radius: 15px;
                max-width: 540px;
                max-height: 600px;
                padding: 30px;
                box-shadow: 1px 1px 4px 0px $active;

                .propertices_name {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 80%;
                    padding-bottom: 20px;
                }

                .devider {
                    box-sizing: border-box;

                    width: 100%;
                    height: 1px;
                    background: $grey2;
                    border-radius: 10px;
                }

                .propertices_price {
                    padding: 20px 0;
                    .que {
                        font-size: 20px;
                        line-height: 80%;
                        color: $grey2;
                        padding-bottom: 15px;
                    }
                    .ans {
                        font-size: 32px;
                        line-height: 80%;

                        span {
                            font-size: 20px;
                            color: $grey4;
                        }
                    }
                }
                .propertices_Owner {
                    padding: 20px 0;

                    .que {
                        font-size: 20px;
                        line-height: 80%;
                        color: $grey2;
                        padding-bottom: 15px;
                    }
                    .ans {
                        @include flex(row, center, space-between);
                        gap: 30px;
                        .owner_image {
                            min-width: 50px;
                            min-height: 50px;
                            background-color: $white;
                            border-radius: 10px;
                        }
                        .owner_details {
                            width: 100%;
                            // padding: 0 30px;
                            @include flex(column, flex-start, flex-start);
                            gap: 10px;
                            .owner_name {
                                font-size: 28px;
                                font-weight: 400;
                                line-height: 80%;
                            }
                            .owner_investor_type {
                                font-size: 16px;
                                line-height: 80%;
                                color: $grey4;
                            }
                        }
                        .Right_arrow_button {
                            @include flex(row, center, center);
                            min-width: 30px;
                            min-height: 30px;
                            color: $secondary;
                            background: $active;
                            text-align: center;
                            border-radius: 10px;
                        }
                    }
                }
                .properties_extra_details {
                    padding: 20px 0;

                    .que {
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 80%;
                        padding-bottom: 15px;
                    }

                    .ans {
                        font-size: 20px;
                        line-height: 80%;
                        color: $grey4;
                    }
                }
                .properties_leave_button {
                    button {
                        width: 100%;
                        padding: 10px;
                        font-size: 28px;
                        font-weight: 500;
                        background: $active;
                        color: $secondary;
                        border: 0;
                        outline: 0;
                        border-radius: 10px;
                    }
                }
            }
        }

        .second_part {
            @include flex(row, flex-start, flex-start);
            gap: 58px;
            .general_information {
                min-width: 900px;
                min-height: 100vh;

                .main_title {
                    @include flex(row, center, space-between);

                    .que {
                        font-size: 32px;
                        font-weight: 500px;
                        line-height: auto;
                    }
                    .extra_icons_button {
                        @include flex(row, center, center);
                        gap: 20px;
                        button {
                            border: 0;
                            outline: 0;
                            background: $active;
                            color: $secondary;
                            padding: 10px 20px;
                            border-radius: 8px;
                            font-size: 18px;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
                }
                .main_title_ans {
                    max-width: 600px;
                    padding: 47px 0;
                    p {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
                .properties_extra_features {
                    @include flex(row, flex-start, flex-start);
                    gap: 25px;
                    padding-bottom: 70px;

                    .properties_things {
                        @include flex(row, center, space-between);
                        .icons {
                            @include flex(row, center, center);
                            min-width: 50px;
                            min-height: 50px;
                            background: $active;
                            border-radius: 8px;
                        }
                        .que {
                            padding-left: 15px;
                            font-size: 24px;
                            font-weight: 400;
                        }
                    }
                }

                .devider {
                    box-sizing: border-box;

                    width: 100%;
                    height: 1px;
                    background: $grey2;
                    border-radius: 10px;
                }

                .details_of_properties {
                    padding-top: 60px;
                    .que {
                        font-size: 32px;
                        font-weight: 500;
                    }

                    .ans {
                        @include flex(row, flex-start, flex-start);
                        gap: 30px;
                        padding-top: 40px;
                        .properties_things {
                            min-width: 228px;
                            min-height: 130px;
                            background: $white;
                            color: $black;
                            border-radius: 8px;
                            padding: 25px;

                            .ansOfThings {
                                font-size: 32px;
                                font-weight: bold;
                            }
                            .queOfThings {
                                font-size: 32px;
                                font-weight: 500;
                                padding-top: 13px;
                            }
                        }
                    }
                }

                .propertise_amenities {
                    padding-top: 64px;
                    .que {
                        font-size: 30px;
                        font-weight: 500;
                    }
                    .ans {
                        padding-top: 50px;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 60px 20px;
            
                        .properties_things {
                            @include flex(row, center, flex-start);
                            .icons {
                                @include flex(row, center, center);
                                min-width: 50px;
                                min-height: 50px;
                                background: $active;
                                border-radius: 50%;
                            }
                            .propertise_que {
                                padding-left: 15px;
                                font-size: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .properties_address{
                background-color: $secondary;
                border-radius: 15px;
                min-width: 540px;
                max-height: 600px;
                padding: 30px;
                box-shadow: 1px 1px 4px 0px $active;

                .properties_address_que {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 80%;
                    padding-bottom: 20px;
                }

                .devider {
                    box-sizing: border-box;
                    width: 100%;
                    height: 1px;
                    background: $grey2;
                    border-radius: 10px;
                }
                .properties_address1 {
                    padding: 10px 0;
                    .que {
                        font-size: 20px;
                        line-height: 80%;
                        color: $grey2;
                        padding-bottom: 10px;
                    }
                    .ans {
                        font-size: 32px;
                        line-height: 80%;
                    }
                }
                .properties_address_button {
                    padding-top: 20px;
                    button {
                        width: 100%;
                        padding: 10px;
                        font-size: 28px;
                        font-weight: 500;
                        background: $active;
                        color: $secondary;
                        border: 0;
                        outline: 0;
                        border-radius: 10px;
                    }
                }

            }
        }
    }
}
