@import '../../style/_constant.scss';

.home_container {
  @include occupyFullSpace();
  @include flex(row, flex-start, flex-start);
  min-height: calc(100vh - 78px);
  max-height: calc(100vh - 78px);

  background-color: $black;
  color: $white;

  font-size: 48px;
  font-weight: 700;

  .sidebar_content {
    min-height: calc(100vh - 78px);
    background: $secondary;
  }


  .home_content {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}