@import '../../style/_constant.scss';

.navbar {
  @include flex(row, center, space-between);
  color: $white;
  background-color: $secondary;
  padding: 17.5px 120px;

  .website_logo {
    @include flex(row, center, center);
    gap: 10px;

    .circle_logo {
      @include flex(row, center, center);
      width: 38px;
      height: 38px;
      background-color: $white;
      color: $black;
      font-size: 32px;
      font-weight: bolder;
      border-radius: 50%;
      margin-right: 6.4px;
      // padding: 2px;
    }

    span {
      font-size: 32px;
      letter-spacing: 0.5px;
      font-weight: 700;
    }
  }

  .website_section {
    @include flex(row, center, center);

    width: 100%;
    margin: 0px 32px;

    font-size: 18px;
    line-height: 24px;

    .nav_items {
      @include flex(row, flex-end, center);
      gap: 5px;
      padding: 4px 12px;
      min-width: 100px;
      cursor: pointer;

      &.active {
        color: $active;
      }
    }
  }

  .website_other_icon {
    @include flex(row, center, center);

    width: 160px;
    color: $color1;
    gap: 10px;

    .search_icon {
      @include flex(row, center, center);
      width: 30px;
      height: 30px;
      cursor: pointer;
      color: $white;

      svg {
        width: 20px;
        height: 20px;

      }
    }

    button {
      min-width: 100px;
      padding: 8px 12px;
      font-size: 18px;
      font-weight: 500;
      color: $grey2;
      cursor: pointer;
      border-radius: 8px;
      border: 1px solid $grey1;
      background: transparent;

      &:hover {
        border-color: $white;
        color: $white;
      }
    }

  }
}