$black : #222222;
$white : #ffffff;
$blue : #47A5C5;

$color1 : #0f0f0f;
$active : #FFD60A;

$primary : #000814;
$secondary : #161D29;

$grey1 : #2C333F;
$grey2 : #AFB2BF;

$error:#EF476F;

@mixin flex ($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin resetSpacing() {
  margin: 0;
  padding: 0;
}


@mixin occupyFullSpace() {
  width: 100%;
  height: 100%;
}