@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Satoshi;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/asset/fonts/Satoshi-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/asset/fonts/Satoshi-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/asset/fonts/Satoshi-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/asset/fonts/Satoshi-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}